/* CheckList */
.checkList{
  display: block;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  padding: 10px 20px 5px 20px;
}
.checkListShow{
  display: block;
  vertical-align: middle;
  text-decoration: none;
  padding: 6px;
  background-color: #d4d4d4;
  border-radius: 4px;
  margin-bottom: 1px;
  color: #002888;
  -moz-transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
  -moz-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
  height: 40px;
}
.checkListShow:hover{
  background-color: #c5c5c5;
}
.checkList ul { list-style: none; }
.checkList input{
  display: block;
  float: right;
  width:25px;
  margin:0;
  padding:0;

}
.hidde{
  display: none;
}
.progressionCheckList{
    width: 100%;
    height: 25px;
    margin-top: -3px;
    margin-bottom: 0px;


    display: flex;
    flex-direction: row;

}
.progressionCheckList .barre{
  width:90%;
  border-radius: 10px;
  border: 1px solid #bdbcbc;
  height: 10px;
  margin: 0 10px;
}

.completed{
  margin-top: 20px;
}
