#logBookContainer {
    background-color: #f5f5f5;
}

#logBookHeading {
    position: relative;
}

/* Event icons */
.validEvent {
    color: #0F9C07;
}

.invalidEvent {
    color :#D9D9D9;
}

#logBookBadge {
    background-color: #337ab7;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translate(0,-50%);
}

.clickable {
    cursor: pointer;
}

.logBookCheckbox {
    padding-top: 5px;
    padding-bottom: 5px;
}