.modalScenario>.modal-dialog{
  width:70%;
}
div.table {
  display: table; border-collapse: collapse;
}
div.table>.tableRow {
  display: table-row;
}
div.table>form.tableRow:hover,  div.table>form.tableRow.active {
  background-color: #ddd;
}
div.table>.tableRow>.cell {
  display: table-cell; vertical-align: middle; padding: 5px;
}

.maquette img{
  max-width: 100%;
}

.maquettes{
  max-height: 800px;
  overflow-y: auto;
}
