#taskBanner {
    background-color: #eee;
    margin-top: 20px;
}

#taskBanner h1 {
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

#taskBanner div.form-check {
    display: inline-block;
    margin-left: 20px;
}

.dropTaskFilter {
    display: inline-block;
    float: right;
    margin-right: 20px;
}