#taskBanner {
    background-color: #eee;
    margin-top: 20px;
    position: relative;
}

#taskBanner h1 {
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

#filters {
    display: inline;
}

#taskBanner div.form-check {
    display: inline;
    margin-left: 20px;
}

.dropTaskFilter {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 0px;
    margin-right: 20px;
}