#taskBanner {
    position: relative;
}

#taskBanner h1 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#filters {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    height: 30px;
    width: 100%;
    margin-top: 20px;
}

#taskBanner .filterCheckboxes {
    display: inline;
}

.checkboxFilterLabel {
    margin-right: 20px;
}

.dropTaskFilter {
    top: 50%;
    transform: translate(0,-50%);
    right: 0px;
    z-index: 1;
    margin-left: 30px;
}

#taskList {
    margin-top: 20px;
}

.taskStatus {
    margin-right: 5px;
}

.instruction {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 20px;
}